html {
  font: 16px/1.25 arial, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  margin: auto;
  max-width: 640px;
}

figcaption {
  margin: 0.5rem 0 0;
  text-align: center;
}

img {
  vertical-align: middle;
}

ul {
  align-items: center;
  counter-reset: slide;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  counter-increment: slide;
}

li a {
  display: none;
  position: relative;
}

li a::before {
  color: rgba(255, 255, 255, 0.4);
  content: counter(slide, decimal-leading-zero);
  font: bold 15px/1 arial, sans-serif;
  padding: 10px 11px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.is-active {
  display: block;
}

@media all and (max-width: 640px), all and (max-height: 500px) {
  figure {
    padding: 0;
  }

  figcaption {
    display: none;
  }

  img {
    max-height: 100vh;
    max-width: 100%;
  }
}
