body {
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -180px 0 0 -320px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem;
}

ul {
  counter-reset: slide;
  display: block;
  font-size: 0;
  height: 360px;
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 640px;
}

li {
  counter-increment: slide;
  display: inline-block;
}

li,
img {
  height: 100%;
}

img {
  display: block;
  width: auto;
}

a {
  display: none;
  height: 100%;
  position: relative;
  width: 100%;
}

a::before {
  color: rgba(255, 255, 255, 0.4);
  content: counter(slide, decimal-leading-zero);
  font: bold 15px/1 arial, sans-serif;
  padding: 10px 11px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.is-active {
  display: block;
}

